<h2><%= @hirer.username %></h2>


<div id="average_score">
    <%= @hirer_average_score %>
</div>

<% if @feedback %>
    <%= render partial: 'feedbacks/yours', locals: { feedback: @feedback } %>
<% end %>

<div id='hirer_details'>
    <h3><%= @hirer.email %></h3>
</div>