<h2><%= "#{t('.title')} \"#{@search_term}\"" %></h2>

<div id="search_results">
    <% if @results.empty? %>
        <span id='no_results'><%= t('.no_results') %></span>
    <% else %>
        <% @results.each do |result| %>
            <% if result.class == Project %>
                <%= render partial: 'projects/preview', locals: { project: result } %>
            <% end %>
        <% end %>
    <% end %>
</div>