<h1>Nova proposta para seu projeto</h1>
<p>
  Seu projeto <strong>'<%= @project_application.project.title %>'</strong> teve uma proposta nova por <%= @project_application.worker.get_full_name %>
</p>
