<div id="welcome_hirer">
    <h4 class='text-secondary'><%= t('home.index.welcome_hirer_message') %></h4>
</div>

<h2><%= t('home.index.notifications') %><h2>
<div id='notifications' class='card'>
    <% if @applications.empty? %>
        <%= t('home.index.no_notifications') %>
    <% else %>
        <% @applications.each do |application| %>
            <%= render partial: 'project_applications/hirer_view', locals: { application: application } %>
        <% end %>
    <% end %>
</div>