<div class=<%= "project_#{project.id} card" %>>
    <div class='card-body'>
        <h4 class="card-title"><%= link_to project.title, project %></h4>
        <h5 class="card-subtitle"><%= "#{t('search.search.needs')} #{project.skills_needed}" %></h5>
        <p class="card-text"><%= project.description %></p>
    </div>
</div>