<div class='project_hirer card m-1'>
    <h4 class=" d-flex justify-content-between align-items-center">
        <div>
            <h4 class='card-title'><%= t('projects.common.project_owner') %></h4>
            <span><%= link_to project.hirer.username, hirer_path(project.hirer) %></span>
        </div>
        <span>
        <% if project.can_feedback_member?(current_worker) %>
            <%= 
            link_to t('feedbacks.common.button'), 
            new_hirer_feedback_path(project.hirer), 
            class: 'feedback_button btn btn-primary m-2' 
            %>
        <% end %>
        </span>
    </h4>
</div>


