<div class='project_hirer'>
    <span><%= project.hirer.username %></span>
    <span><%= t('projects.common.project_owner') %></span>
    <% if project.finished? and worker_signed_in? %>
        <%= 
        link_to t('feedbacks.common.button'), 
        new_hirer_feedback_path(project.hirer), 
        class: 'feedback_button' 
        %>
    <% end %>
</div>
