<div class='project_worker'>
    <span><%= worker.get_full_name %></span>
    <span><%= t('occupation_name.'+worker.occupation.to_s) %></span>
    <% if (project.finished? and hirer_signed_in?) %>
        <%= 
        link_to t('feedback.button'), 
        new_worker_feedback_path(worker), 
        class: 'feedback_button' 
        %>
    <% end %>
</div>