<div id="your_feedback" class="project_feedback card m-2 p-2">
    <h5><%= t('feedbacks.common.yours') %></h5>
    <span class='score'><%= t('feedbacks.common.score_show') %><%= feedback.score %></span>
    <span class='comment'><%= feedback.comment %></span>
</div>