<h2><%= @worker.get_full_name %></h2>


<div id="average_score">
    <%= @worker_average_score %>
</div>

<% if @feedback %>
    <%= render partial: 'feedbacks/yours', locals: { feedback: @feedback } %>
<% end %>

<div id='worker_details'>
    <h3><%= @worker.description %></h3>
</div>